<style type="text/css">
    #street-view-{{cid}}{
        height: 350px;
    }
</style>
<div id="street-view-{{cid}}"></div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js">
</script>

